<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1 class="text-center">Page Not Found!</h1>
            </div>
        </main>

        <footer><%- include('./partials/footer'); %></footer>
    </body>
</html>
