<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Users APP</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
    <ul class="navbar-nav float-right">
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    </ul>
</nav>
