<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Users APP</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% if(user) { %>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <% } %>
    </ul>
    <ul class="navbar-nav float-right">
        <% if(!user) { %>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
        </li>
        <% } %> <% if(user) { %>
        <li class="nav-item">
            <a class="nav-link"><button id="log-out">Log Out</button></a>
        </li>
        <% } %>
    </ul>
</nav>
